extends layout.pug

block content
	.container
		.jumbotron
			h1.display-1 Create a post
			form(action="/createpost", method="POST")
				.form-group
					label(for='url') Enter the url you want to share:
					input#url.form-control(type="text", name="url", placeholder="url")
				.form-group
					label(for='title') Enter the title of your post:
					input#title.form-control(type="text", name="title", placeholder="title")
				label Choose a subreddit
				select.btn.btn-default.dropdown-toggle(name="selectedSub")
					each sub in subs
						option(value=sub.subId)=sub.subName
				br
				button.btn.btn-success(type="submit") Post!
			button#suggestTitle.btn.btn-default.btn-sm suggest title