doctype html
html
	head
		meta(charset="utf-8")
		block title
			title Welcome to Reddit Clone
		link(rel="stylesheet", href="/styles/bootstrap.css", type="text/css")
		link(rel="stylesheet", href="/styles/personnalStyle.css", type="text/css")
	body
		.container
			nav.navbar.navbar-default
				.container-fluid
					.navbar-header
						p.navbar-brand
							a(href="/") Reddit Clone
					#navbar
						ul.nav.navbar-nav
							li
								a(href="/frontpage") Frontpage
							li
								a(href="/signup") Sign Up
							li
								a(href="/signin") Sign In
							li
								a(href="/logout") Log Out
							li
								a(href="/createPost") Create a post
							if user
								li
									a(href='/logout') 
										p.text-success Logged In
							else
								li
									a(href='/signin') 
										p.text-warning Not logged in
		block content
		script(src="https://code.jquery.com/jquery-3.1.1.js")
		script(src="https://code.jquery.com/jquery-migrate-3.0.0.js")
		script(src="/scripts/bootstrap.js")