extends layout.pug

block content
	h2 Sign in here:
	form(action="/login", method="POST")
		div
			input(type="text", name="username", placeholder="Enter your username here")
		div
			input(type="password", name="password", placeholder="Enter your password here")
		button(type="submit") login!