extends layout.pug

block content
	form(action="/login", method="POST")
		p You can login here:
		div
			input(type="text", name="username", placeholder="Enter your username here")
		div
			input(type="text", name="password", placeholder="Enter your password here")
		button(type="submit") login!