extends layout.pug

block content
	.container
		.jumbotron
			if user
				h1.display-1 (╯°□°）╯︵ ┻━┻)
				p.lead Sorry to see you go ...
			else
				h1.display-1 ( ་ ⍸ ་ )
				p.lead You are already not logged in ...
