extends layout.pug

block content
	form(action="/posts", method="POST")
	div(id="contents")
		h1 Welcome to Reddit!!
		ul
			each val in posts
				li 
					content-item_title
					h2
						content-item_title
							a(href=val.postUrl)=val.postTitle
					p='Created by ' + val.user.username