extends layout.pug

block content
	.container
		.jumbotron
			h1.display-1 Sign in here:
			form(action="/signin", method="POST")
				.form-group
					label(for='username') Enter your username:
					input#username.form-control(type="text", name="username", placeholder="username")
				.form-group
					label(for='password') Enter your password:
					input#password.form-control(type="password", name="password", placeholder="password")
				button.btn.btn-success.btn-ln(type="submit") Sign in!