extends layout.pug

block content
	.container
		.jumbotron
			h1.display-1 Sign up here:
			form(action="/signup", method="POST")
				.form-group
					label(for='usernameChoice') Choose a username:
					input#usernameChoice.form-control(type="text", name="username", placeholder="username")
				.form-group
					label(for='passwordChoice') Choose a password:
					input#passwordChoice.form-control(type="password", name="password", placeholder="password")
				button.btn.btn-success.btn-ln(type="submit") Sign up!