extends layout.pug

block content
	.container
		.jumbotron
			h1.display-1 Welcome to a Reddit Clone
			p.leading This project is a copy of the main functionalites of 
				a(href="www.reddit.com") Reddit
			p.leading The technologies used include:
				button#nodeBtn.btn.btn-primary.btn-ln NodeJs
				button#expressBtn.btn.btn-info.btn-ln ExpressJs
				button#pugBtn.btn.btn-danger.btn-ln PugJs
				button#bootstrapBtn.btn.btn-warning.btn-ln Bootstrap
				button#jqueryBtn.btn.btn-success.btn-ln jQuery
			button#enterBtn.btn.btn-default.btn-ln Enter